<div class="tasks-container">
    <h2>Pending tasks</h2>
    <ul id="pending-tasks" (dragover)="$event.preventDefault()" (dragenter)="dragEnterHandler($event)"
        (dragleave)="dragLeaveHandler($event)" (drop)="dropHandler($event)">
        <app-task-item *ngFor="let task of container.pendingTasks | async" [task]="task"
            (click)="container.markTaskDone(task.id)"></app-task-item>
    </ul>
    <h2>Completed tasks</h2>
    <ul id="done-tasks" (dragover)="$event.preventDefault()" (dragenter)="dragEnterHandler($event)"
        (dragleave)="dragLeaveHandler($event)" (drop)="dropHandler($event)">
        <app-task-item *ngFor="let task of container.doneTasks | async" [task]="task"
            (click)="container.markTaskPending(task.id)"></app-task-item>
    </ul>
</div>