<div class="tasks-container">
    <h2>Pending tasks</h2>
    <section id="pending-tasks" (dragover)="$event.preventDefault()" (dragenter)="dragEnterHandler($event)"
        (dragleave)="dragLeaveHandler($event)" (drop)="dropHandler($event)">
        <app-task-item *ngFor="let task of container.pendingTasks | async" [task]="task"
            (clickEvent)="container.markTaskDone(task.id)"
            (toggleEditModeEvent)="this.mediateToggleEditModeEvent.emit($event)"></app-task-item>
    </section>
    <h2>Completed tasks</h2>
    <section id="done-tasks" (dragover)="$event.preventDefault()" (dragenter)="dragEnterHandler($event)"
        (dragleave)="dragLeaveHandler($event)" (drop)="dropHandler($event)">
        <app-task-item *ngFor="let task of container.doneTasks | async" [task]="task"
            (clickEvent)="container.markTaskPending(task.id)"
            (toggleEditModeEvent)="this.mediateToggleEditModeEvent.emit($event)"></app-task-item>
    </section>
</div>