.task-item { 
    list-style-type: none;
    border: black 1px solid;
    border-radius: 2px;
    padding: 5px 7px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.task-item * {
    
}

.task-pending {
    background-color: rgba(126, 113, 240, 0.484);
}

.task-done {
    background-color: rgba(138, 240, 113, 0.484);
}

#item-description {
    flex-basis: 70%;
}

#item-delete {
    font-size: 0.9rem;
}

#item-deadline,
#item-done-time {
    flex-basis: 95%;
    font-size: 0.7rem;
    opacity: 0.8;
    text-align: right;
}