<div [id]="task.id" class="task-item" [class.being-edited]="isInEditMode"
    [ngClass]="task.status == 0 ? 'task-pending' : 'task-done'" draggable="true" (dragstart)="dragStartHandler($event)"
    (click)="onClick()" [formGroup]="editTaskForm">
    <div *ngIf="!isInEditMode; else editItemBlock">
        <div class="item-row-1">
            <p id="item-description">{{task.description}}</p>
            <div class="icons-bar">
                <i id="edit-icon" class="icon-btn" role="button" (click)="onActivateEditMode($event)"></i>
                <i id="delete-icon" class="icon-btn" role="button" (click)="onDeleteItem($event)"></i>
            </div>
        </div>
        <div class="item-row-2">
            <p *ngIf="task.status == 0" id="item-deadline">{{task.dueDate ? ("Deadline is " +
                task.dueDate.toISOString().split("T")[0])
                : "No deadline"}}
            </p>
            <p *ngIf="task.status == 1" id="item-done-time">Done at {{task.doneDate ?
                task.doneDate.toISOString().split("T")[0] : "undefined"}}</p>
        </div>
    </div>
    <ng-template #editItemBlock>
        <div class="item-row-1">
            <input id="item-description-input" formControlName="description" type="text"
                (click)="$event.stopPropagation()" [placeholder]="task.description" />
            <div class="icons-bar">
                <i *ngIf="isInEditMode" id="confirm-icon" class="icon-btn" role="button"
                    (click)="onConfirmEdit($event)"></i>
                <i *ngIf="isInEditMode" id="reject-icon" class="icon-btn" role="button"
                    (click)="onRejectEdit($event)"></i>
                <i id="delete-icon" class="icon-btn" role="button" (click)="onDeleteItem($event)"></i>
            </div>
        </div>
        <div class="item-row-2">
            <p *ngIf="task.status == 0; else itemDoneP" id="item-deadline">Adjust task deadline:</p>
            <ng-template #itemDoneP>
                <p id="item-done-time">Adjust task done time:</p>
            </ng-template>
            <input *ngIf="task.status == 0" formControlName="date" type="datetime-local"
                [min]="dateTime.dateTimeNowNormalized" />
            <input *ngIf="task.status == 1" formControlName="date" type="datetime-local"
                [max]="dateTime.dateTimeNowNormalized" />
        </div>
    </ng-template>
</div>