.task-item {
  border: black 1px solid;
  border-radius: 2px;
  padding: 5px 7px;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.task-pending {
  background-color: rgba(126, 113, 240, 0.484);
}

.task-done {
  background-color: rgba(138, 240, 113, 0.484);
}

#item-description {
  flex-basis: 70%;
}

#item-delete {
  font-size: 0.9rem;
}

#item-deadline,
#item-done-time {
  flex-basis: 95%;
  font-size: 0.7rem;
  opacity: 0.8;
  text-align: right;
}

#icons-bar {
  display: flex;
  flex-direction: row;
}

#icons-bar > * {
  margin-left: 4px;
}

#icons-bar:first-child {
  margin-left: 0;
}

.icon-btn {
  height: 1rem;
  width: 1rem;
  background-size: contain;
}

#confirm-icon {
  background-image: url("../../assets/icons/confirm.ico");
}

#reject-icon {
  background-image: url("../../assets/icons/reject.ico");
}

#edit-icon {
  background-image: url("../../assets/icons/edit.ico");
}

#delete-icon {
  background-image: url("../../assets/icons/delete.ico");
}
