<div class="form-container">
  <form [formGroup]="taskForm" (submit)="onAddToDo(taskForm.value)">
    <ul class="flex-outer">
      <li>
        <label for="description">Description</label>
        <input name="description" id="description" placeholder="Meet John" formControlName="description"
          (input)="showHint = false" />
      </li>
      <li>
        <p class="alert" *ngIf="showHint">
          To Do description is required and has to be between 5 and 30 symbols long
        </p>
      </li>
      <li>
        <label for="duedate">Should be done until</label>
        <input type="date" name="due_to" id="duedate" formControlName="dueDate" [min]="dateTime.todayDate" />
      </li>
      <li>
        <button type="submit">Add To Do</button>
      </li>
    </ul>
  </form>
</div>